
univariat example.png
set_unit_observation atrributes_dataset.png
from dataset to empirical distribuction.png
univariat and multivriat statistics.png
dataset.png
Descriptive statistics.png
descriptive vs inferential statistics.png
distribuction empired example.png
distribuzione empirica e teorica.png
